@import "tailwindcss";

body {
    font-family: "Stem", sans-serif;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

.bg-green {
    background-color: #b9fe7e;
}
.color-green {
    color: #b9fe7e;
}
.bg-pink {
    background-color: #fc97b5;
}
.color-pink {
    color: #fc97b5;
}

#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
